/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}


/* Variables */
:root {
  --dark-blue: #32425c;
  --darker-blue: #293449;
  --darkest-blue: #212a3a;
  --basic-bg: #f1f5f7;
  --light-bg: #f9f5f0;
  --light-grey: #eaeaea;
  --lighter-grey: #f4f4f4;
  --lightest-grey: #e5e5e5;
  --old-price-grey: #a9a9a9;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --darker-green: #367315;
  --range-green: #00ca74;
  --special-yellow: #ffbf47;
  --special-teal: #3bbce3;
  --special-purple: #dc91d8;
  --special-green: #8ed78f;
  --link-yellow: #ffd180;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
}
