/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}


/* Variables */
:root {
  --dark-blue: #32425c;
  --darker-blue: #293449;
  --darkest-blue: #212a3a;
  --basic-bg: #f1f5f7;
  --light-bg: #f9f5f0;
  --light-grey: #eaeaea;
  --lighter-grey: #f4f4f4;
  --basic-greylight: #c5c5c5;
  --lightest-grey: #e5e5e5;
  --old-price-grey: #a9a9a9;
  --basic-red: #ee3643;
  --button-hover: #ca2c37;
  --button-active: #ba2732;
  --basic-green: #63a63e;
  --darker-green: #367315;
  --range-green: #00ca74;
  --special-yellow: #ffbf47;
  --special-teal: #3bbce3;
  --special-purple: #dc91d8;
  --special-green: #8ed78f;
  --link-yellow: #ffd180;
  --success: #5fbb2d;
  --error: #ba2732;
  --text-font-stack: "PT Sans", "Arial", sans-serif;
  --heading-font-stack: "Cuprum", "Arial", sans-serif;
}

body {
  font-family: var(--text-font-stack);
  font-size: 13px;
  line-height: 24px;
  color: #000;
}

/* Button */
.button {
  background-color: var(--basic-red);
  color: #fff;
  font-family: var(--heading-font-stack);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}

/* Site section */
.section-header {
  font-family: var(--heading-font-stack);
  background-color: var(--light-bg);
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--dark-blue);
  text-transform: uppercase;
}


/* Site-header */
.site-header {
  font-family: var(--heading-font-stack);
  background-color: var(--basic-bg);
}

.site-header-top {
  background-color: var(--darker-blue);
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

/* Logo */
.logo {
  background-color: var(--basic-red);
}

.logo:active {
  background-color: var(--error);
}

/* Search form */
.search-form-input {
  background-color: transparent;
  color: #fff;
}

.search-form-input:focus {
  background-color: #fff;
  color: #000;
}

/* Site header actions */
.site-header-action {
  color: #fff;
  text-decoration: none;
}

.site-header-action:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.5);
}

.site-header-action-cart.site-header-action-cart-active {
  background-color: var(--basic-red);
}

.site-header-action-order {
  background-color: var(--basic-green);
}

.site-header-action-order:hover {
  background-color: var(--success);
}

.site-header-action-order:active {
  background-color: var(--basic-green);
}

/* Site header middle */
.site-header-about-text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.site-header-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  text-decoration: none;
}

.site-header-address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: var(--dark-blue);
}

.site-header-auth-link {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
}

.site-header-auth-link:hover {
  color: var(--basic-red);
}

.site-header-auth-link:active {
  color: var(--basic-greylight);
}

.profile-links {
  font-size: 16px;
  line-height: 18px;
}

.profile-link {
  color: var(--dark-blue);
  text-decoration: none;
}

.profile-link:hover {
  color: var(--basic-red);
}

.profile-link:active {
  color: var(--basic-greylight);
}

/* Sitenav */
.sitenav {
  background-color: var(--dark-blue);
  color: #fff;
  font-size: 18px;
}

.sitenav-link {
  text-decoration: none;
  color: #fff;
}

.sitenav-link:hover {
  background-color: var(--darker-blue);
}

.sitenav-link:active {
  background-color: #161d29;
}


/* Promos */
.promos {
  font-family: var(--heading-font-stack);
}

.promos-list {
  color: #fff;
}

.promos-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promos-item-materials {
  background-color: var(--special-yellow);
}

.promos-item-instruments {
  background-color: var(--special-teal);
}

.promos-item-technics {
  background-color: var(--special-purple);
}

.promos-item-discount {
  background-color: var(--special-green);
}

.promos-item-delivery {
  background-color: var(--special-yellow);
}

.promos-item-link {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.promos-item-link:hover {
  background-color: rgb(197, 197, 197, 0.3);
}

.promos-item-link:active {
  background-color: rgb(169, 169, 169, 0.3);
}

/* Promoslider */
.promoslider {
  color: #fff;
}

/* Slide */
.slide-caption {
  background-color: rgba(0, 0, 0, 0.25);
}

.slide-title {
  font-size: 36px;
  line-height: 36px;
}

.slide-text {
  font-size: 18px;
}

/* Promoslider controls */
.promoslider-control {
  background-color: transparent;
}


/* Product */
.product-title {
  font-size: 18px;
  line-height: 20px;
}

.product-price {
  font-size: 17px;
  line-height: 18px;
}

.product-price-old {
  font-weight: bold;
  color: var(--old-price-grey);
}

.product-price-actual {
  background-image: url("../img/red-button.png");
  background-size: contain;
  color: #fff;
}


/* Services */
.services {
  background-color: var(--basic-bg);
}

.services-heading {
  font-family: var(--heading-font-stack);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-tabs {
  font-family: var(--heading-font-stack);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.services-tabs-link {
  background-color: var(--dark-blue);
  color: #fff;
  text-decoration: none;
}

.services-tabs-link:hover {
  background-color: var(--darker-blue);
}

.services-tabs-item-active .services-tabs-link {
  color: var(--dark-blue);
  background-color: #fff;
}

.service-name {
  font-family: var(--heading-font-stack);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--dark-blue);
  text-transform: uppercase;
}


/* About */
.about-heading {
  font-family: var(--heading-font-stack);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-transport-companies {
  font-family: var(--heading-font-stack);
  font-size: 18px;
  line-height: 24px;
}

/* Contacts */
.contacts-heading {
  font-family: var(--heading-font-stack);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}


/* Form modal */
.form-modal-label {
  font-family: var(--heading-font-stack);
  font-size: 18px;
  line-height: 24px;
}


/* Site-footer */
.site-footer {
  background-color: var(--dark-blue);
  color: #fff;
  font-family: var(--heading-font-stack);
}

/* Site-footer top */
.site-footer-top {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.site-footer-main-links-link {
  color: #fff;
  text-decoration: none;
}

.site-footer-main-links-link:hover {
  text-decoration: underline;
}

.site-footer-main-links-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.site-footer-phone-link {
  color: #fff;
  text-decoration: none;
}

.site-footer-promo-links-link {
  color: var(--link-yellow);
  text-decoration: none;
}

.site-footer-promo-links-link:hover {
  text-decoration: underline;
}

.site-footer-promo-links-link:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Site-footer bottom */
.site-footer-bottom {
  background-color: var(--darker-blue);
  font-size: 16px;
  line-height: 18px;
}

/* Socials */
.socials-link {
  background-color: var(--darkest-blue);
  color: #fff;
  text-decoration: none;
}

.socials-link:hover {
  background-color: var(--basic-red);
}

.site-footer-bottom-link {
  color: var(--link-yellow);
  text-decoration: none;
}

.site-footer-bottom-link:hover {
  text-decoration: underline;
}

.site-footer-bottom-link:active {
  color: var(--basic-red);
  text-decoration: none;
}


/* Catalog page */
.page-title {
  background-color: var(--basic-bg);
  color: var(--dark-blue);
  font-family: var(--heading-font-stack);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

/* Breadcrumbs */
.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000;
}

/* Filters */
.filters-heading {
  background-color: #f7f3ec;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
}

.filters-group-title {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.price-range-wrapper {
  background-color: #f7f3ec;
}

.price-input {
  background-color: #f7f3ec;
  font-size: 17px;
  line-height: 18px;
}

.filters-checkbox-radio-list {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filters-submit {
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
