/* Variables */
:root {
  --dark-blue: #32425c;
  --darker-blue: #293449;
  --darkest-blue: #212a3a;
  --basic-bg: #f1f5f7;
  --light-bg: #f9f5f0;
  --light-grey: #eaeaea;
  --lighter-grey: #f4f4f4;
  --lightest-grey: #e5e5e5;
  --old-price-grey: #a9a9a9;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --darker-green: #367315;
  --range-green: #00ca74;
  --special-yellow: #ffbf47;
  --special-teal: #3bbce3;
  --special-purple: #dc91d8;
  --special-green: #8ed78f;
  --link-yellow: #ffd180;
}
